# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Data files
*.csv
*.xlsx

# Models
models/*.pkl
*.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
